{% extends 'base.html' %}

{% block content %}
<div class="booking-section">
    <h1 style="color: white">Book Your Stay </h1>

    <form method="POST" class="booking-form">
        {% csrf_token %}
        {{ form.as_p }}

        {% if form.errors %}
        <div class="form-errors">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <button type="submit" class="submit-btn">Submit</button>
    </form>
</div>
{% endblock %}
